
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div class="container mt-5 ">
        <h4 class="text-center">Bayi Güncelle</h4>
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <div class="alert alert-danger">
                <% errors.forEach(function(error) { %>
                    <p><%= error.msg %></p>
                <% }); %>
            </div>
        <% } %>
        <form method="post">
            <div class="mb-3">
                <label for="firstName" class="form-label">Ad</label>
                <input type="text" id="firstName" name="firstName" placeholder="Ad" class="form-control" required value="<%= dealers.firstName %>">
            </div>
    
            <div class="mb-3">
                <label for="lastName" class="form-label">Soyad</label>
                <input type="text" id="lastName" name="lastName" placeholder="Soyad" class="form-control" required value="<%= dealers.lastName %>">
            </div>
    
            <div class="mb-3">
                <label for="dealerCommission" class="form-label">Bayi Komisyonu</label>
                <input type="number" id="dealerCommission" name="dealerCommission" placeholder="Kendi müşterilerinden elde edeceği oran" class="form-control" required value="<%= parseFloat(dealers.dealerCommission) * 100 %>" step="0.01">
                <div class="form-text">Örnek: %20 için sadece 20 yazınız</div>
            </div>
            <div class="mb-3">
                <label for="subDealerCommission" class="form-label">Alt Bayi Komisyonu</label>
                <input type="number" id="subDealerCommission" name="subDealerCommission" placeholder="Alt bayilerin müşterilerinden elde edeceği oran" class="form-control" required value="<%= parseFloat(dealers.subDealerCommission) * 100 %>" step="0.01">
                <div class="form-text">Örnek: %20 için sadece 20 yazınız</div>
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Bayi Aktiflik Durumu</label>
                <div class="d-flex justify-content-around" style="max-width: 200px;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="active-status" value="true" <%= dealers.status ? 'checked' : '' %>>
                        <label class="form-check-label status active-status" for="active-status">
                            Aktif
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="inActive-status" value="false" <%= !dealers.status ? 'checked' : '' %>>
                        <label class="form-check-label status inActive-status" for="inActive-status">
                            Pasif
                        </label>
                    </div>
                </div>
            </div>

            <div class="mb-3" id="statusDescriptionArea">
                <label for="statusDescription" class="form-label">Soyad</label>
                <input type="text" id="statusDescription" name="statusDescription" placeholder="Bayilik pasif olma nedeni yazınız" class="form-control" value="<%= dealers.statusDescription %>">
            </div>
    
            <button type="submit" class="btn btn-primary">Kaydet</button>
            <a href="/admin/dealer/details/<%= dealers.id %>" class="btn btn-warning">Vazgeç</a>
        </form>
    </div>
    <script>
        const active = document.getElementById("active-status");
        const inActive = document.getElementById("inActive-status");
        const statusDescriptionArea = document.getElementById("statusDescriptionArea");

        document.addEventListener("DOMContentLoaded",()=>{
            if(active.checked){
                statusDescriptionArea.style.display="none"
            }else{
                statusDescriptionArea.style.display="block"

            }
            inActive.addEventListener("click",()=>{
                statusDescriptionArea.style.display="block"
            })
            active.addEventListener("click",()=>{
                statusDescriptionArea.style.display="none"
            })
        })
    </script>
</body>
</html>
