<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div class="container-fluid mt-5 d-flex align-items-center flex-column">
        <div class="dealer-description">
           <%- include('../partials/dealers') %>
        </div>
        
        <div class="allCustomers w-100">
            <form action="/admin/dealer/details/<%= dealers.id %>/subCustomers" method="get" class="d-flex justify-content-between filterForm">
                <%- include('../partials/customerFilter') %>
                <a href="/admin/dealer/details/<%= dealers.id %>/subCustomers" class="btn filterReset">Sıfırla</a>
            </form> 
            <div class="allCustomersNav d-flex justify-content-between mt-3">
                <div class="customer-switch">
                    <a class="btn customerBtn" href="/admin/dealer/details/<%= dealers.id %>">Müşteriler</a>
                    <% if (subCustomers.length > 0 ) { %>
                        <a class="btn subCustomerBtn" href="/admin/dealer/details/<%= dealers.id %>/subCustomers">Alt Bayi Müşterileri</a>
                    <% } %>
                </div>
                <div class="total-commission mt-3">
                    <p>Toplam Hakediş (Alt Bayi): ₺<%= totalSubCommission %></p>
                </div>
            </div>
            <div class="subDealer-customers">
                <div class="table-responsive">
                    <% if (subCustomers.length > 0 ) { %>
                        <%- include('../partials/subDealerCustomers') %>
                    <% } %>
                </div>
            </div>
        </div>
       
    <%- include('../partials/script') %>
    <script src="/static/js/inputDate.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const customerBtn = document.querySelector(".customerBtn");
            const subCustomerBtn = document.querySelector(".subCustomerBtn");
            
            subCustomerBtn.classList.add("activeBtn");
            customerBtn.addEventListener("click", function() {
                customerBtn.classList.remove("activeBtn");
                subCustomerBtn.classList.add("activeBtn");
            });

            subCustomerBtn.addEventListener("click", function() {
                subCustomerBtn.classList.remove("activeBtn");
                customerBtn.classList.add("activeBtn");
            });
        });
    </script>
</body>
</html>