<div class="table-responsive">
    <h3 class="text-center">Bayi Bilgileri</h3>
    <hr>
    <table class="w-100">
        <thead>
            <tr>
                <th>Durum</th>
                <th>Ad</th>
                <th>Soyad</th>
                <% if (dealers.referenceBy) { %>
                 <th>Referans Olan Bayi</th>
                <% } %>
                <th>(%) Bayi Komisyon Oranı</th>
                <th>(%) Alt Bayi Komisyon Oranı</th>
                <th>(₺) Toplam Hakediş</th>
                <% if (isAdmin) { %>    
                    <th>Alt Bayi Ekle</th>
                    <th>Müşteri Ekle</th>
                    <th>Düzenle</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                    <span class="status <%= dealers.status ? "active-status" : "inActive-status" %>"><%= dealers.status ? "Aktif" : "Pasif" %></span>
                    </td>
                    <td>
                        <%= dealers.firstName %>
                    </td>
                    <td>
                        <%= dealers.lastName %>
                    </td>
                    <% if (dealers.referenceBy) { %>
                        <td><a href="/admin/dealer/details/<%= dealers.referenceBy%>"><%= dealers.reference.firstName %></a></td>
                    <% } %>
                    <td>
                        <%=  dealers.dealerCommission == 0 ? "-" : parseFloat(dealers.dealerCommission) * 100  %>
                    </td>
                    <td>
                        <%= dealers.subDealerCommission == 0 ? "-" : parseFloat(dealers.subDealerCommission) * 100 %>
                    </td>
                    <td>
                        <%= totalEarn == 0 ? "-" : totalEarn %>
                    </td>
                    <% if (isAdmin) { %>
                        <td>
                            <a href="/admin/<%= dealers.firstName %>/dealer/create/<%= dealers.dealerCode %>" class="btn dealerAdd"><i class="bi bi-shop"></i></a>
                        </td>
                        <td>
                            <a href="/admin/customer/create/<%= dealers.dealerCode %>" class="btn customerAdd"><i class="bi bi-person-plus"></i></a>
                        </td>
                        <td>
                            <a href="/admin/dealer/edit/<%= dealers.dealerCode %>" class="btn edit"><i class="bi bi-pencil-square"></i> </a>
                        </td>
                    <% } %>
                </tr>
        </tbody>
    </table>
</div>