<h3 class="text-center">Alt Bayi Müşterileri</h3>
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Şirket</th>
            <th>Sözleşme Tarihi</th>
            <th>Paket Fiyatları</th>
            <th>Hakediş</th>
        </tr>
    </thead>
    <tbody>
            <% subCustomers.forEach(subCustomer => { %>
            <tr >
                <td>
                    <%= subCustomer.firstName %>
                </td>
                <td>
                    <%= subCustomer.lastName %>
                </td>
                <td>
                    <%= subCustomer.organization %>
                </td>
                <td>
                    <% const createdAt = new Date(subCustomer.agreementDate); %>
                    <%= createdAt.getDate().toString().padStart(2, '0') %>/<%= (createdAt.getMonth() + 1).toString().padStart(2, '0') %>/<%= createdAt.getFullYear() %>
                </td>
                <td>
                    ₺<%= subCustomer.price %>
                </td>
                <td>
                    ₺<%=  (subCustomer.price * subDealerCommission).toFixed(2)%>
                </td>
            </tr>
            <% }) %>
        </tbody>
</table>