<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div class="container-fluid mt-5 d-flex  align-items-center flex-column">
        <div class="col-lg-8 table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Şirket</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Satın Alınan Paket</th>
                        <th>Paket Fiyatı</th>
                        <th><a href="/user/customer/create">Müşteri Ekle</a></th>
                    </tr>
                </thead>
                <tbody>
                    <% let totalProgressPrice = 0%>
                    <%  customers.forEach(customer => { %>
                        <%  totalProgressPrice += customer.package.packagePrice * commissionRate;%>
                    <% }) %>
            
                    <% customers.forEach(customer => { %>
                        <tr>
                            <td>
                                <%= customer.firstName %>
                            </td>
                            <td>
                                <%= customer.lastName %>
                            </td>
                            <td>
                                <%= customer.organization %>
                            </td>
                            <td>
                                <%= customer.email %>
                            </td>
                            <td>
                                <%= customer.phone %>
                            </td>
                            <td>
                                <%= customer.package.packageName %>
                            </td>
                            <td>
                                <%= customer.package.packagePrice %>
                            </td>
                            <td>
                                ₺<%= customer.package.packagePrice * commissionRate%>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="p-3 bg-light d-flex align-items-center">
            <span>Toplam Hakediş: <%= totalProgressPrice %></span>
        </div>
    </div>
    <%- include('../partials/script') %>
</body>
</html>